[submodule "java/geo_ref_qc"]
	path = java/geo_ref_qc
	url = https://github.com/rukayaj/geo_ref_qc
[submodule "java/event_date_qc"]
	path = java/event_date_qc
	url = https://github.com/FilteredPush/event_date_qc.git
[submodule "java/sci_name_qc"]
	path = java/sci_name_qc
	url = https://github.com/FilteredPush/sci_name_qc.git
[submodule "java/rec_occur_qc"]
	path = java/rec_occur_qc
	url = https://github.com/FilteredPush/rec_occur_qc.git
[submodule "java/bdqtestrunner"]
	path = java/bdqtestrunner
	url = https://github.com/FilteredPush/bdqtestrunner.git
[submodule "bdq-spec"]
	path = bdq-spec
	url = https://github.com/tdwg/bdq.git
