# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Java
*.class
*.jar
*.war
*.ear
*.logs
*.swp
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Spring Boot
application-local.properties
application-local.yml

# Logs
logs/
*.log